{
    "branches": [
        "master",
        "current-branch"
    ],
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
              "releaseRules": [
                { "type": "docs", "scope": "README", "release": "patch" },
                { "type": "refactor", "release": "patch" },
                { "type": "style", "release": "patch" },
                { "type": "ci", "release": "patch" },
                { "type": "test", "release": "patch" },
                { "type": "chore", "release": "patch" },
                { "type": "perf", "release": "patch" },
                { "type": "build", "release": "patch" },
                { "type": "revert", "release": "patch" },
                { "type": "fix", "release": "patch" },
                { "type": "feat", "release": "minor" },
                { "breaking": true, "release": "major" }
              ],
              "parserOpts": {
                "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES", "BREAKING"]
              }
            }
        ],
      "@semantic-release/release-notes-generator",
      [
          "@semantic-release/changelog",
          {
              "changelogFile": "CHANGELOG.md"
          }
      ],
      [
          "@semantic-release/git",
          {
              "assets": ["CHANGELOG.md"]
          }
      ],
      "@semantic-release/github"
  ] 
}